<section class="asymmetric-columns mb-5">
    <div class="row align-items-stretch">
        <div class="col-sm-6 col-md-6 col-lg-8">
            <img src="{{site.baseurl}}/assets/images/photos/epishuttle.png" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="asymmetric-columns__text">
                <h2 class="asymmetric-columns__title bg-color--black text-uppercase text-white weight--bold">
                    CURE DOMICILIARI
                </h2>
                <div class="asymmetric-columns__description bg-color--main">
                    <p class="text-white mb-0">
                        Il servizio Cure Domiciliari nasce
                        dall'esigenza di un numero sempre
                        maggiore di pazienti di avere un
                        servizio di radiologia rapido, personalizzato e
                        domiciliare.
                        Il servizio pone al centro le esigenze del
                        paziente e si rivolge in particolare ad anziani,
                        disabili, pazienti allettati o affetti da patologie
                        invalidanti, siano esse permanenti o
                        temporanee. Grazie alla domiciliazione di determinati
                        esami, evitiamo al paziente spostamenti e
                        attese che potrebbero rivelarsi disagevoli,
                        così come il rischio di contrarre infezioni ospedaliere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
