<section class="half-double-columns row">
    <div class="col">
        <h2 class="half-double-columns__title bg-color--black text-uppercase text-white weight--bold">
            Chi siamo
        </h2>
        <p class="half-double-columns__description">
            <strong>AIR AMBULANCE GROUP Albania</strong>
            con un'esperienza ventennale nel settore è oggi la più
            importante realtà albanese nel mercato del trasferimento pazienti,
            con aerei permanentemente configurati come terapie intensive.
            Inoltre grazie ad un incredibile network di aeroambulanze,
            autoambulanze è in grado di fornire rimpatri in poche ore ai
            pazienti ovunque nel Mondo.
        </p>
    </div>
    <div class="col bg-color--main">
        <img src="{{site.baseurl}}/assets/images/photos/albania.svg" height="50" class="">
    </div>
</section>
