<section class="services mb-5" id="services-section">
    <img src="{{site.baseurl}}/assets/images/photos/brochure-ita-stampa.jpg" class="services__background img--cover">
    <div class="container">
        <h2 class="services__title text-center text-uppercase text-white weight--bold">
            Servizi
        </h2>
        <div class="services__list row">
            <div class="col">
                <div class="services__item">
                    <figure class="services__item-icon">
                        <img src="{{site.baseurl}}/assets/images/icons/plane.svg" class="">
                    </figure>
                    <p class="services__item-label text-white text-uppercase">
                        AEROAMBULANZA
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="services__item">
                    <figure class="services__item-icon">
                        <img src="{{site.baseurl}}/assets/images/icons/homecare.svg" class="">
                    </figure>
                    <p class="services__item-label text-white text-uppercase">
                        CURE DOMICILIARI
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="services__item">
                    <figure class="services__item-icon">
                        <img src="{{site.baseurl}}/assets/images/icons/ambulance.svg" class="">
                    </figure>
                    <p class="services__item-label text-white text-uppercase">
                        AUTOAMBULANZA
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
