<section class="video-intro">
    <video width="100%" height="100%" loop autoplay>
        <source src="assets/media/video-intro.mp4" type="video/mp4">
        <source src="assets/media/video-intro.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <header class="video-intro__text text-white">
        <h1>Aeroambulanza</h1>
        <p>Trasporti Sanitari</p>
    </header>
    <div class="video-intro__button-scroll">
        {% include widgets/button-scroll.html %}
    </div>
</section>
