<ul class="header__main-nav navbar-nav ml-md-auto">
    <li class="main-nav__item nav-item">
        <a class="main-nav__link nav-link text-uppercase" href="#services-section">
          <i class="fas fa-align-right"></i> Servizi
        </a>
    </li>
    <li class="main-nav__item nav-item">
      <a class="main-nav__link nav-link text-uppercase" href="#instrumentation-section">
        Strumentazione
      </a>
    </li>
    <li class="main-nav__item nav-item">
      <a class="main-nav__link nav-link text-uppercase" href="#contacts-section">
        Contatti
      </a>
    </li>
</ul>