.services {
    position: relative;
    padding: 2.5rem;
    &__title {
        font-size: 3rem;
        padding-bottom: 2.5rem;
    }
    &__background {
        @include position(left, 0, top , 0);
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__list {
        @include flex-align(stretch);
        @extend %d-flex;
    }
    &__item {
        text-align: center;
        height: 100%;
        &-icon {
            min-height: 135px;
            @extend %d-flex;
            @include flex-align(center);
            @include flex-justify(stretch);
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            img {
                width: 150px;
            }
        }
        &-label {
            font-size: 1.5rem;
        }
    }
}